@font-face {
    font-family: 'Grand Atlantic';
    src: local('Grand Atlantic Serif'), local('Grand-Atlantic-Serif'),
        url('GrandAtlanticSrf-Regular.woff2') format('woff2'),
        url('GrandAtlanticSrf-Regular.woff') format('woff'),
        url('GrandAtlanticSrf-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
