@import './theme/Variables.scss';
@import './theme/fonts/stylesheet.scss';

body {
  margin: 0;
  background-color: $body-background;
  font-family: 'Grand Atlantic', sans-serif;
  color: $body-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
